#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 20vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}

.footer-inner {
  max-width: 1200px;        /* or whatever width */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  font-size: 0.9rem;
  color: #aaa;
  opacity: 0.25;
}

/* For space effect on text */
h1, p {
  color: white;
  background-image: linear-gradient(
    120deg,
    #a855f7,
    #6366f1,
    #22d3ee,
    #ec4899
  );
  background-size: 300% 300%;
  background-position: 0% 50%;

  -webkit-background-clip: text;
  background-clip: text;

  transition: color 0.3s ease;
}

.space-text:hover {
  color: transparent;
  animation: cosmicFlow 3s ease infinite;
}

@keyframes cosmicFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}