/* For space effect on text */

.cosmic-letter {
    display: inline-block;
    color: white;
    transition: color 0.8s ease, text-shadow 0.8s ease, opacity 0.8s ease;
    opacity: 0.8;
}

.cosmic-letter.active {
    color: transparent;
    background-image: linear-gradient(120deg,
            #a855f7,
            #6366f1,
            #22d3ee,
            #ec4899);
    background-size: 300% 300%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0 0 6px #a855f7, 0 0 12px #22d3ee, 0 0 18px #ec4899;
}