/*
File: Footer.css
Summary: Footer Wrapper
Description: Only footer styles
*/
.footer {
  width: 100%;
  padding: 24px 0;
  font-size: 0.9rem;
  color: #aaa !important;
  opacity: 0.25;
  position: relative;
  z-index: 2;
}

.footer__inner {
  display: flex;
  justify-content: center; /* add space-between if I switch to left/right content */
  align-items: center;
}
